<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Dashboard - Social Media</title>
</head>
<body>
<nav th:replace="fragments/top-navigation.html(base = 'Dashboard')"></nav>
<br>
<h1>These are the current posts</h1>
<div class="post-container" th:each="post:${publicPosts}">
    <h4 th:text="${post.title}">Title...</h4>
    <p th:text="${post.content}">Content...</p>
    <p th:text="${post.private_public}">Public</p>
    <p th:text="${post.stringDate}">Date...</p>
</div>
</body>
<footer th:replace="fragments/footer">Default</footer>

</html>