<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Posts Dashboard</title>
</head>
<body>
<header>
    <h4 class="logo">SOCIAL DAYS</h4>
</header>
<nav class="topnav">
    <a href="/">Home</a>
    <a href="/dashboard">Content</a>
    <a href="/">About</a>
</nav>
<nav th:replace="top-navigation"("navigation")></nav>

<h1>These are the current posts</h1>
<div class="post-container" th:each="post:${publicPosts}">
    <h4 th:text="${post.title}">Title...</h4>
    <p th:text="${post.content}">Content...</p>
    <p th:text="${post.private_public}">Public</p>
    <p th:text="${post.stringDate}">Date...</p>
</div>
</body>
<footer th:replace="fragments/footer">Default</footer>

</html>