<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Social Media</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<nav th:replace="fragments/top-navigation(base = 'Home')"></nav>
<br>
<h1>Welcome to the social media app!</h1>

<p>This is a social media application where you can create a post about anything and it will be added to our dashboard</p>
<p>We home you enjoy it. Try to create your new post by clicking the button. </p>
<button>
    <a th:href="@{/submit}">Create a post</a>
</button>
</body>
<footer th:replace="fragments/footer">Default</footer>

</html>