<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<header>
    <h4 class="logo">SOCIAL DAYS</h4>
</header>
<nav class="topnav">
    <a href="/">Home</a>
    <a href="/dashboard">Content</a>
    <a href="/">About</a>
</nav>
<h1>Welcome to the social media app!</h1>

<p>This is a social media application where you can create a post about anything and it will be added to our dashboard</p>
<p>We home you enjoy it. Try to create your new post by clicking the button. </p>

<form action="/submit">
    <input type="submit" value="Create a post" />
</form>
<footer>Developed by me</footer>
</body>
</html>