<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles/main.css">
    <meta charset="UTF-8">
    <title>Post created - Social Media</title>
</head>
<body>
<nav th:replace="fragments/top-navigation"></nav>
<br>
<h1>Your post has been created!</h1>
<br>
<div class="post-container">
<h4 th:text="${yourPost.title}">Title...</h4>
<p th:text="${yourPost.content}">Content...</p>
<p th:text="${yourPost.private_public}">Public</p>
<p th:text="${yourPost.stringDate}">Date...</p>
</div>
</body>
<footer th:replace="fragments/footer">Default</footer>

</html>